#user-profile-container {
  background-color: #212224;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

#user-info-container, #custom-ingredients, #user-goals {
  background-color: #EBE6EC;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

#custom-ingredients, #user-goals {
  height: fit-content;
}

#custom-ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#custom-ingredients h2 {
  margin-bottom: 0;
}

#custom-foods-ul {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 60%;
}

#custom-foods-ul li {
  margin: 5px;
}

#user-info img {
  max-width: 90%;
}

#user-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40%;
  width: 30%
}

#user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-food-tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 40%;
  width: 30%
}

#logout-btn {
  background-color: #ff4040;
  border: none;
  border-radius: 5px;
  width: 50%;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  transition-duration: 0.4s;
}

#logout-btn:hover {
  background-color: #ce1111;
}

.functionality-btn {
  background-color: #daab2c;
  border: none;
  border-radius: 5px;
  width: 100%;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  transition-duration: 0.4s;
}

.functionality-btn:hover {
  background-color: #aa8214;
}

#not-login {
  color: white;
}